<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017459134618-rihb567pp4guu6t630ceqk1erdfdqhea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017459134618-rihb567pp4guu6t630ceqk1erdfdqhea</string>
	<key>API_KEY</key>
	<string>AIzaSyCP7QDc78JwR8uuIkzkNfbB6A_Xoxh1nbM</string>
	<key>GCM_SENDER_ID</key>
	<string>1017459134618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieCuration</string>
	<key>PROJECT_ID</key>
	<string>video-content-curation-project</string>
	<key>STORAGE_BUCKET</key>
	<string>video-content-curation-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017459134618:ios:3329e125370badd2664f23</string>
	<key>DATABASE_URL</key>
	<string>https://video-content-curation-project-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>